target/

!.mvn/wrapper/maven-wrapper.jar
.svn/
**/.svn/
.metadata/
**/.metadata/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
### build/ ###
nbbuild/
### dist/ ###
nbdist/
.nb-gradle/
.recommenders/
runWeb.sh
runStatistic.sh
xbb-dingtalk-jxc-web/interface.txt
runStatistic.sh
