<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xbongbong.paas.dao.UserDao" >
    <resultMap id="ResultMap" type="com.xbongbong.paas.domain.UserModel">
        <id column="id" property="id" jdbcType="INTEGER"></id>
        <result column="user_name" property="userName" jdbcType="VARCHAR"/>
        <result column="phone" property="phone" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, user_name, phone
    </sql>

    <select id="findUser" parameterType="java.lang.Long" resultMap="ResultMap">
        select <include refid="Base_Column_List"/>
        from tb_user
        <where>
            and id = #{id}
        </where>
    </select>
</mapper>